{% extends 'base.html.twig' %}

{% block title %}Credenciales{% endblock %}

{% block body %}
<br>
<div class="jumbotron mt-1 rounded-lg border border-secondary">
    <div class="row">
        <div class="col-2">
            <img src="{{asset('images/escudo.gif')}}" class="rounded float-left" alt="Poder Judicial" height="160">
        </div>
        <div class="col">
            <h1 class="display-4">Credenciales</h1>
            <p class="lead text-center">PODER JUDICIAL DE LA PROVINCIA DE SANTA FE</p>
            <hr class="my-4">
            <p>En el marco de las medidas adoptadas por la Corte Suprema de Justicia frente a la pandemia Coronavirus - Covid-19, se pone a disposición la descarga y emisión de las credenciales habilitantes para circular. </p>            
            <p class="lead text-danger text-center">LAS CREDENCIALES SOLICITADAS POR CORREO ELECTRÓNICO ESTARÁN DISPONIBLES DENTRO DE LAS 24 HORAS DE SOLICITADAS</p>
            <br><br>
            <div class="text-right">
                <a class="btn btn-primary btn-lg float-center" href="{{ path('app_login') }}" role="button">Obtener</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}